<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://evolenthealthcontactmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>evolenthealthcontactmanagement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EvolentHealthContactManagement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EvolentHealthContactManagement</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EvolentHealthContactManagementContext" Order="1" Enabled="False">
          <Destination Path="Data Source=evolenthealthcontactmanagementdbserver.database.windows.net;Initial Catalog=evolenthealthcontactmanagementDB;Persist Security Info=True;User ID=evolentadmin;Password=Microsoft4me;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ConnectRetryCount=5" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="EvolentHealth.ContactManagement.Models.EvolentHealthContactManagementContext, EvolentHealth.ContactManagement" MigrationConfiguration="EvolentHealth.ContactManagement.Migrations.Configuration, EvolentHealth.ContactManagement" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EvolentHealthContactManagementContext-Web.config Connection String">
      <ParameterValue>Data Source=evolenthealthcontactmanagementdbserver.database.windows.net;Initial Catalog=evolenthealthcontactmanagementDB;Persist Security Info=True;User ID=evolentadmin;Password=Microsoft4me;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ConnectRetryCount=5</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>